.container{
    padding: 20px 60px;
}
.head{
    font-family: 'Sora';
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    color: #1A1A1A;
}