.container{
    padding: 40px 100px;
    background: black;
}
.main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: start;
    gap: 70px;
    margin-bottom: 70px;
    padding: 60px;
}
.first{
display: grid;
gap: 10px;
}
.first h1{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}
.first p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
}
.first>div>img{
    width: 19px;
    height: 19px;
    margin-inline: 7px;
}
.second{
    color: #FFFFFF;
}
.second h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 120%;
    color: #FFFFFF;
}
.second .links{
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    gap: 20px;
}
.links ul{
    font-family: 'Inter';
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #A5ADCF;
    padding: 0;
}
.links ul:nth-last-of-type(1){
    margin-left: 100px;
}
.links>ul>li{
    margin-top: 15px;
}
.third{

}
.third h1{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
}
.third p{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #A5ADCF;
    margin-top: 40px;
}
.mail{
    background: rgba(47, 50, 65, 0.5);
    border: 1px solid #34384C;
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-top: 20px;
} 
.mail input{
    border: none;
    background: transparent;
    color: rgb(199, 198, 198);
    outline: none;
    padding-inline:10px ;
}
.mail button{
    margin-left: auto;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;
    width: 83px;
    height: 47px;
    border: none;
    background: linear-gradient(265.56deg, #246CF9 -0.27%, #1E68F6 -0.26%, #0047D0 98.59%);
    border-radius: 100px;
}
.footer{
    display: flex;
    justify-content: space-between;
    color: white;
    border-top: 1px solid #34384C;
    padding-top: 40px;
}
.footer p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #5D6588;
}
.policy{
display: flex;
gap: 5px;
}
.terms p{
    border-right: 1px solid #34384C;
    padding-inline: 5px;
}
