.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    background-image: url('/image/hero.png');
    background-size: 160%;
    background-position-x: 85%;
    background-position-y: 30%;
    background-repeat: no-repeat;
    color: white;
    padding: 10px 60px;
    position: sticky;
    background-image: url('/image/hero.png');
}

.container h1{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 15px;
}
.links>li{
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}
.container button{
    font-family: "Sora";
    color: white;
    padding: 14px 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    background: linear-gradient(265.56deg, #246CF9 -0.27%, #1E68F6 -0.26%, #0047D0 98.59%);
    border-radius: 30px;
}